.mini-window{
    background-color: #eee;
    height: 50%;
    width: 40%;
    top:30%;
    transform: rotate(-30deg);
    /*clip-path:polygon(10% 40%, 70% 0%, 90% 60%, 30% 100%);*/
    right: -2%;
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.mini-window .topbar{
    height: 10%;
    background-color: #3b42a8;
    border-radius: 8px 8px 0px 0px;
}

.mini-window .content{
    background-color: #eee;
    height: 90%;
    flex-direction: row;
    display: flex;
}

.mini-window .content .cards{
    height: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #fafafa;
    width: 30%;
}