

// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color:#001489;
$secondary-color: #469cff;
$font-color-light:#fff;
$font-color-middle:#469ccc;
$font-color-dark: #000657;

html,body{
  height:100%;
  background-color: $secondary-color;
}

.App{

  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
